.with-background::before {
  content: "";
  position: absolute;
  left: -40px;
  right: -40px;
  top: -35px;
  height: 45%;
  z-index: -1;
  background: url("../assets/shape.svg") no-repeat 50%;
  background-size: cover;
}
.slick-dots li.slick-active button:before {
  @apply opacity-100 text-orange-600 text-[14px];
}
.slick-dots li button:before {
  @apply opacity-100 text-black text-[14px];
}

.doctor-section {
  @apply relative;

  /* Left Line (Before) */
  &::before {
    content: "";
    position: absolute;
    width: calc(50% - 65px);
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: 0;
  }

  /* Right Line (After) */
  &::after {
    content: "";
    position: absolute;
    width: calc(50% - 65px);
    height: 2px;
    background-color: #000;
    bottom: 0;
    right: 0;
  }
}
